/* Fuente base */
body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Títulos más “orgánicos” */
  h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
  }